append less
    link(href="/public/less/footer.less", rel="stylesheet/less")

footer(class="footer")
    div(class="copyright")
        a(href="http://www.miibeian.gov.cn/")
            font(style="color: #bbb") 京ICP备09050704号
        Copyright © 
        a(href="/")
            em
                font(style="color:#639805") foooooot.com
        font(style="padding: 0 5px;") all rights reserved.

