append less
    link(href="/public/less/header.less", rel="stylesheet/less")

header(class="navbar navbar-fixed-top")
    div(class="navbar-inner")
        div(class="container-fluid")
            a(class="brand", href="/") XING ZONG
            div(class="nav-collapse collapse")
                ul(class="nav")
                    li(class="#{headerNavHome}")
                        a(href="/") 首页
                    li(class="#{headerNavFollow}")
                        a(href="/follow") 跟踪

            div(class="nav pull-right")
                div(class="btn-group")
                    - if (user)
                        a(class="btn dropdown-toggle", data-toggle="dropdown", href="#")
                            i(class="icon-user")
                            &nbsp;#{user.nickname}&nbsp; 
                            b(class="caret")
                        ul(class="dropdown-menu")
                            li
                                a(href="/accounts/profile") 个人资料
                            li
                                a(href="/accounts/settings") 个人设置
                            li(class="divider")
                            li
                                a(href="/accounts/logout") 退出
                    - else
                        a(class="btn btn-primary", href="/accounts/login")
                            i(class="icon-user")
                            &nbsp;&nbsp;登录
                        a(class="btn btn-primary dropdown-toggle", data-toggle="dropdown")
                            b(class="caret")
                        ul(class="dropdown-menu")
                            li
                                a(href="/accounts/qq/login") QQ登录
                            li
                                a(href="/accounts/weibo/login") 微博登录

            div(class="nav pull-right")
                form(class="navbar-search pull-left", action="")
                    input(type="search", class="search-query span2", placeholder="搜搜")


