extends layout

append less
    link(href="/public/less/follow.less", rel="stylesheet/less")

append js
    script(src="//api.map.baidu.com/api?v=1.3")
    script(src="/nowjs/now.js")
    script(src="/public/js/follow.js")

block body
    
    include includes/header
    div(class="content")
        nav(class="follow-type-bar")
            ul(class="nav nav-pills nav-stacked")
                li
                    &nbsp;
                li(class="nav-header ")
                    监控类型
                li(class="nav-header")
                    a(href="#") 多点监控
                li(class="nav-header active")
                    a(href="#") 锁定跟踪
                li(class="nav-header")
                    a(href="#") 轨迹查看
                    
        .map-container
            #map()

    include includes/footer
