extends layout

append less
    link(href="/public/less/index.less", rel="stylesheet/less")

append js
    script(src="/public/js/index.js", type='text/javascript')

block body

    include includes/header
    div(class="container")
        div(class="hero-unit")
            h1 行踪
            p
            p 时刻保护着您的安全
            p
            p
                a(class="btn btn-primary btn-large") 下载手机应用  »

        div(class="row")

            div(class="span4")
                h2 功能
                p 热爱旅行的朋友，在出门的时候是否会担心迷路？不会，因为我们有行踪定位，无论你走到哪里，都有我们的保护
                p
                    a(class="btn", href="#") 更多 »
            
            div(class="span4")
                h2 用户
                p 在城市中穿梭、在森林中散步、在雪山上攀登、在沙漠中穿行……我们的用户遍布中国，为您指引方向是我们责任，保障您的安全是我们的使命
                p
                    a(class="btn", href="#") 更多 »

            div(class="span4")
                h2 目标
                p 打造全方位的安全防范，为您提供良好的后援支持。无论到哪里探险，我们都会一路护送，让您平安归来。
                p
                    a(class="btn", href="#") 更多 »

    hr
    include includes/footer

