!!! 5

head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    block css
    block title
        title 行踪
    block js

body
    block body
