extends layout

append css
    link(href="/public/less/login.less", rel="stylesheet/less")
append js
    script(type='text/javascript', src='/public/js/login.js')

block body

    .container
        pre(class="xingzong").
            &nbsp;
                          ,--,                                                                                 
                        ,--.'|         ,---,                           ,----,   ,---.        ,---,             
             ,--,  ,--, |  |,      ,-+-. /  |  ,----._,.             .'   .`|  '   ,'\   ,-+-. /  |  ,----._,. 
             |'. \/ .`| `--'_     ,--.'|'   | /   /  ' /          .'   .'  .' /   /   | ,--.'|'   | /   /  ' / 
             '  \/  / ; ,' ,'|   |   |  ,"' ||   :     |        ,---, '   ./ .   ; ,. :|   |  ,"' ||   :     | 
              \  \.' /  '  | |   |   | /  | ||   | .\  .        ;   | .'  /  '   | |: :|   | /  | ||   | .\  . 
               \  ;  ;  |  | :   |   | |  | |.   ; ';  |        `---' /  ;--,'   | .; :|   | |  | |.   ; ';  | 
              / \  \  \ '  : |__ |   | |  |/ '   .   . |          /  /  / .`||   :    ||   | |  |/ '   .   . | 
            ./__;   ;  \|  | '.'||   | |--'   `---`-'| |        ./__;     .'  \   \  / |   | |--'   `---`-'| | 
            |   :/\  \ ;;  :    ;|   |/       .'__/\_: |        ;   |  .'      `----'  |   |/       .'__/\_: | 
            `---'  `--` |  ,   / '---'        |   :    :        `---'                  '---'        |   :    : 
                         ---`-'                \   \  /                                              \   \  /  
                                                `--`-'                                                `--`-'   
    hr
    div(class="container")
        div(class="row span4 offset2")
            p
                a(href="/qq/login", class="btn btn-primary") 使用QQ登录
            p
                a(href="/sina/login", class="btn btn-primary") 使用新浪微博登录
            
        div(class="row span4")
            - if (loginError)
                p(class='alert alert-error') #{loginError}
            form(method='POST', action='/accounts/login')
                label
                    邮箱：
                    input(type='email', name='email', placeholder='邮箱', required='required')
                label
                    密码：
                    input(type='password', name='password', placeholder='密码', required='required')
                p
                    a(href="/accounts/forget-password") 忘记密码？
                    input(type='submit', class="btn btn-primary offset1", value='登录')

